@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

html {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-content: center;
    align-items: center;
}

p {
  font-family: "DynaPuff", system-ui;
}

body {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-size: 800% 800%;
    animation: gradient 7S ease infinite;
    overflow: visible;
    }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 0% 50%;
    }
    75% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

   .center-error {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .center-people {
    display: block;
    justify-content: center;
    align-items: center;
  }

    .center-footer-buttons {
      display: block;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin: auto;
  }

  .people-list-text {
    font-size: 1em;
    color: #ffffff;
    background-color: #491739;
    padding: 10px 20px;
    margin: auto;
    text-align: center;
    align-items: center;
  }
  
  .special-text {
        font-size: 1em;
        color: #a3a3a3;
        text-align: center;
    }

    .footer-size {
      font-size: 0.8em;
    }

.invisible {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button {
  background-color: #000000;
  color: #fff;
  font-size: 0.8em;
  font-family: "DynaPuff", system-ui;
  border: 1px solid #000000;
  padding: 10px 20px;
  margin: auto;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pope-img {
  display: block;  
    max-width: 50%;
    margin: auto;
    padding-bottom: 2em;
    text-align: center;
    align-items: center;
    animation: dance 5s infinite;
  }
  
/* The animation code */
@keyframes dance {
  0% {
      transform: rotate(0deg) translateX(0);
  }
  10% {
      transform: rotate(-10deg) translateX(-20px);
  }
  20% {
      transform: rotate(10deg) translateX(-10px);
  }
  30% {
      transform: rotate(-10deg) translateX(-20px);
  }
  40% {
      transform: rotate(10deg) translateX(-10px);
  }
  50% {
      transform: rotate(0deg) translateX(0);
  }
  60% {
      transform: rotate(10deg) translateX(10px);
  }
  70% {
      transform: rotate(-10deg) translateX(20px);
  }
  80% {
      transform: rotate(10deg) translateX(10px);
  }
  90% {
      transform: rotate(-10deg) translateX(20px);
  }
  100% {
      transform: rotate(0deg) translateX(0);
  }
}
